[submodule "src/halpy"]
	path = src/halpy
	url = git@github.com:UrLab/halpy.git
	branch = serreminator
[submodule "src/arduino/lib/hal"]
	path = src/arduino/lib/hal
	url = git@github.com:UrLab/hal-arduino.git
	branch = addDHTSensors
[submodule "src/driver"]
	path = src/driver
	url = git@github.com:UrLab/hal-driver.git
	branch = addDHTSensors
